.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;

  @media (min-width: 480px) {
    & {
      height: 460px;
    }
  }

  @media (min-width: 768px) {
    & {
      height: 374px;
      width: 100%;
    }
  }

  @media (min-width: 1200px) {
    & {
      height: 254px;
      width: 100%;
    }
  }
}

a {
  text-decoration: none;
  color: currentColor;
}

.body {
  background-color: var(--white-color-header);
  color: var(--main-color-title);
  font-family: 'Roboto', sans-serif;
  // margin: 0;
  // padding: 0;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;

  margin: 0;
  text-align: center;
  letter-spacing: 0.03em;

  @media (min-width: 1200px) {
    & {
      padding-bottom: 0;
      font-weight: 700;
      font-size: 36px;
      line-height: 1.2;
      text-align: center;
      padding-bottom: 30px;
    }
  }
}

// @media (min-width: 480px) {
//   padding-bottom: 30px;
// }

// @media (min-width: 768px) {
//   padding-bottom: 30px;
// }

// @media (min-width: 1200px) {
//   padding-bottom: 30px;
// }

.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--time) var(--cubic);
}
