:root {
  --main-color-body: #e5e5e5;
  --main-color-title: #212121;
  --main-color-text: #757575;
  --white-color-header: #ffffff;
  --main-color-footer: #2f303a;
  --hover-focus: #2196f3;
  --team-bcg: #f5f4fa;
  --main-icon-color: #afb1b8;
  --bcg-hero-img: #c4c4c4;
  --linear-gradient: rgba(47, 48, 58, 0.4);
  --bcg-icon-footer: rgba(255, 255, 255, 0.1);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
  --bcgimage-box: rgba(47, 48, 58, 0.8);
  --backdrop: rgba(0, 0, 0, 0.2);
  --black: #000000;
  --outline-modal: rgba(33, 33, 33, 0.2);
}
